<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.francis.testandroid">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".parcelable.Parcelable1Activity" />
        <activity android:name=".parcelable.Parcelable2Activity" />
        <activity android:name=".okhttp.TestOkHttpActivity" />
        <activity android:name=".uithread.TestUIThreadActivity" />

        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote" />

        <activity android:name=".aidl.BookManagerActivity" />

        <provider
            android:name=".contentprovider.BookProvider"
            android:authorities="com.example.francis.testandroid.book.provider"
            android:process=":provider" />

        <activity android:name=".contentprovider.ProviderActivity" />

        <service
            android:name=".messenger.MessengerService"
            android:process=":remote" />

        <activity android:name=".messenger.MessengerActivity" />
        <activity android:name=".aidl.BinderPoolActivity" />

        <service
            android:name=".aidl.BinderPoolService"
            android:process=":remote" />

        <activity android:name=".view.event_system.FullScreenSlideActivity"></activity>
        <activity android:name=".view.event_system.NestedSlidingActivity"></activity>
        <activity android:name=".view.custom.bouncingBallView.BouncingBallViewActivity"></activity>
        <activity android:name=".view.recycler_view.TestRecyclerViewActivity"></activity>
        <activity android:name=".view.layout_manager.TestLayoutManagerActivity">

        </activity>
        <activity android:name=".view.crash.CrashActivity"></activity>
        <activity
            android:name=".view.design.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".view.event_system.NestedSlidingActivity">

        </activity>

        <activity android:name=".view.custom.bouncingBallView.BouncingBallViewActivity">

        </activity>

        <activity android:name=".glide.TestGlideActivity">

        </activity>
    </application>

</manifest>